Repository cloud-shuttle/leptos-motion: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, check-examples-build, check-version-consistency, check-todos, check-docs

cargo-audit:
  name: Cargo audit
  entry: bash -c 'cargo audit --deny warnings'
  language: system
  pass_filenames: false

check-examples-build:
  name: Check examples build
  entry: bash -c 'cd examples/showcase && cargo check'
  language: system
  pass_filenames: false

check-version-consistency:
  name: Check version consistency
  entry: ./scripts/check-version-consistency.py
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME in production code
  entry: bash -c 'if grep -r "TODO\|FIXME" crates/ --include="*.rs" | grep -v "// TODO\|// FIXME"; then echo "Found TODO/FIXME comments in production code"; exit 1; fi'
  language: system
  pass_filenames: false

check-docs:
  name: Check public API documentation
  entry: bash -c 'cargo doc --workspace --no-deps --document-private-items 2>&1 | grep -q "missing documentation" && (echo "Missing documentation for public APIs"; exit 1) || true'
  language: system
  pass_filenames: false

Patch v0.3.1 - Fix DOM component compilation issues
  Cargo.toml
  crates/leptos-motion-core/src/performance.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-macros/src/lib.rs
  crates/leptos-motion/src/lib.rs
  examples/advanced-features/src/lib.rs
  examples/basic-animations/src/lib.rs
  examples/dashboard-app/src/lib.rs
  examples/mobile-app/src/lib.rs
Due: check-version-consistency, check-todos, check-docs

docs: improve formatting and readability of docs README
  docs/README.md
Due: none

docs: add comprehensive v0.3.2 release notes and summary
  docs/11-release-notes/RELEASE_NOTES_v0.3.2.md
  docs/12-summaries/RELEASE_SUMMARY_v0.3.2.md
Due: none

fix: complete example trait imports and motion_target! macro fixes
  RELEASE_NOTES_v0.3.2.md
  RELEASE_SUMMARY_v0.3.2.md
  benches/performance_benchmarks/main.rs
  crates/leptos-motion-core/src/performance.rs
  crates/leptos-motion-dom/src/components.rs
  docs/01-getting-started/README.md
  docs/02-api-reference/README.md
  docs/03-guides/README.md
  docs/11-release-notes/RELEASE_NOTES_v0.2.0-beta.2.md
  docs/11-release-notes/RELEASE_NOTES_v0.3.0-beta.1.md
  docs/11-release-notes/RELEASE_NOTES_v0.3.0-beta.2.md
  docs/11-release-notes/RELEASE_NOTES_v0.3.0.md
  docs/11-release-notes/RELEASE_PLAN.md
  docs/12-summaries/RELEASE_SUMMARY.md
  docs/12-summaries/RELEASE_SUMMARY_v0.3.0-beta.2.md
  docs/12-summaries/RELEASE_SUMMARY_v0.3.0.md
  examples/advanced-features/src/lib.rs
  examples/basic-animations/src/lib.rs
  examples/dashboard-app/src/lib.rs
  examples/e-commerce-gallery/src/lib.rs
  examples/mobile-app/src/lib.rs
  examples/showcase/src/lib.rs
Due: check-examples-build, check-todos, check-docs

fix: update dependency versions for crates.io publishing
  crates/leptos-motion-dom/Cargo.toml
  crates/leptos-motion-gestures/Cargo.toml
  crates/leptos-motion-layout/Cargo.toml
  crates/leptos-motion-scroll/Cargo.toml
Due: check-version-consistency

fix: update DOM crate dependencies for publishing
  crates/leptos-motion-dom/Cargo.toml
Due: check-version-consistency

fix: update main leptos-motion crate dependencies for publishing
  crates/leptos-motion/Cargo.toml
Due: check-version-consistency

feat: v0.3.3 - Bug fixes and stability improvements
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/performance_tests.rs
  crates/leptos-motion-dom/src/components.rs
  crates/leptos-motion-dom/src/components_tests.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-gestures/src/gesture_tests.rs
  crates/leptos-motion-gestures/src/lib.rs
  crates/leptos-motion-layout/src/flip_tests.rs
  crates/leptos-motion-layout/src/lib.rs
  crates/leptos-motion/src/lib.rs
  docs/11-release-notes/RELEASE_NOTES_v0.3.3.md
  docs/12-summaries/RELEASE_SUMMARY_v0.3.3.md
  examples/advanced-features/src/lib.rs
  examples/basic-animations/src/lib.rs
  examples/dashboard-app/src/lib.rs
  examples/e-commerce-gallery/src/lib.rs
  examples/mobile-app/src/lib.rs
Due: check-todos, check-docs

feat: Complete tree shaking optimization - 58% bundle size reduction to 255KB
  .cargo/config.toml
  crates/leptos-motion-core/Cargo.toml
  crates/leptos-motion-core/src/bundle_size_tests.rs
  crates/leptos-motion-core/src/engine.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/macros.rs
  crates/leptos-motion-core/src/memory_optimization.rs
  crates/leptos-motion-core/src/minimal_engine.rs
  crates/leptos-motion-core/src/minimal_serialization.rs
  crates/leptos-motion-core/src/performance.rs
  crates/leptos-motion-core/src/performance_tests.rs
  crates/leptos-motion-core/src/serde_replacement_tests.rs
  crates/leptos-motion-core/src/simplified_engine.rs
  crates/leptos-motion-core/src/simplified_engine_tests.rs
  crates/leptos-motion-core/src/time.rs
  crates/leptos-motion-core/src/tree_shaking_tests.rs
  crates/leptos-motion-core/src/types.rs
  crates/leptos-motion-core/src/values.rs
  crates/leptos-motion-core/src/values_tdd_tests.rs
  crates/leptos-motion-core/src/wasm_optimization_tests.rs
  crates/leptos-motion-core/src/web_sys_optimization_tests.rs
  crates/leptos-motion-dom/src/components.rs
  crates/leptos-motion-dom/src/components_tests.rs
  crates/leptos-motion-gestures/src/gesture_tests.rs
  crates/leptos-motion-layout/src/flip_tests.rs
  crates/leptos-motion/src/lib.rs
  docs/09-roadmap/BUNDLE_SIZE_ANALYSIS.md
  docs/09-roadmap/DEPENDENCY_ANALYSIS.md
  docs/09-roadmap/FEATURE_PARITY_ANALYSIS.md
  docs/09-roadmap/PATHWAY_TO_V1.md
  docs/09-roadmap/SERDE_REPLACEMENT_RESULTS.md
  docs/09-roadmap/TDD_BUNDLE_OPTIMIZATION_PROGRESS.md
  docs/09-roadmap/TREE_SHAKING_RESULTS.md
  docs/11-release-notes/RELEASE_NOTES_v0.3.3.md
  docs/12-summaries/RELEASE_SUMMARY_v0.3.3.md
  examples/advanced-features/src/lib.rs
  examples/dashboard-app/src/lib.rs
  examples/mobile-app/src/lib.rs
  scripts/optimize-wasm.sh
Due: check-version-consistency, check-todos, check-docs

feat: achieve 91% bundle size reduction through dependency investigation
  crates/leptos-motion-core/Cargo.toml
  crates/leptos-motion-core/src/bundle_size_tests.rs
  crates/leptos-motion-core/src/dependency_investigation_tests.rs
  crates/leptos-motion-core/src/dependency_optimization_tests.rs
  crates/leptos-motion-core/src/easing.rs
  crates/leptos-motion-core/src/engine.rs
  crates/leptos-motion-core/src/feature_flags_tests.rs
  crates/leptos-motion-core/src/interpolation.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/math.rs
  crates/leptos-motion-core/src/minimal_serialization.rs
  crates/leptos-motion-core/src/performance.rs
  crates/leptos-motion-core/src/serde_replacement_tests.rs
  crates/leptos-motion-core/src/simplified_engine.rs
  crates/leptos-motion-core/src/spring.rs
  crates/leptos-motion-core/src/tree_shaking_tests.rs
  crates/leptos-motion-core/src/types.rs
  crates/leptos-motion-core/src/values_tdd_tests.rs
  crates/leptos-motion-core/src/wasm_optimization_tests.rs
  crates/leptos-motion-core/src/web_sys_optimization_tests.rs
  docs/09-roadmap/DEPENDENCY_INVESTIGATION_RESULTS.md
  docs/09-roadmap/DEPENDENCY_OPTIMIZATION_RESULTS.md
  docs/09-roadmap/FEATURE_FLAGS_RESULTS.md
  scripts/optimize-wasm.sh
Due: check-version-consistency, check-todos, check-docs

chore: bump version to 0.4.0 for major bundle size optimization
  Cargo.toml
Due: check-version-consistency

Complete v0.3.0-beta: All test files and documentation
  TDD_WORKFLOW_V1.md
  V1_ROADMAP_TDD.md
  crates/leptos-motion-core/src/advanced_examples.rs
  crates/leptos-motion-core/src/basic_functionality_tests.rs
  crates/leptos-motion-core/src/dependency_investigation_tests.rs
  crates/leptos-motion-core/src/developer_tools.rs
  crates/leptos-motion-core/src/ecosystem_integration.rs
  crates/leptos-motion-core/src/error_handling_tdd_tests.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/performance_optimization_tdd_tests.rs
  crates/leptos-motion-core/src/tdd_engine.rs
  crates/leptos-motion-core/src/timeline.rs
  crates/leptos-motion-core/src/types.rs
  crates/leptos-motion-core/src/wasm_browser_tdd_tests.rs
  crates/leptos-motion-core/src/wasm_test_setup.rs
  crates/leptos-motion-dom/src/improved_motion_div.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-dom/src/motion_div_tdd_tests.rs
  crates/leptos-motion-gestures/src/gesture_system_tdd_tests.rs
  crates/leptos-motion-gestures/src/lib.rs
  tests/developer_tools_phase3.rs
  tests/phase1_production_hardening/bundle_optimization.rs
  tests/phase1_production_hardening/core_engine_refinement.rs
  tests/phase1_production_hardening/mod.rs
  tests/phase2_advanced_features/advanced_gesture_recognition.rs
  tests/phase2_advanced_features/performance_monitoring.rs
  tests/phase2_advanced_features/timeline_animations.rs
  tests/phase3_developer_experience/advanced_examples.rs
  tests/phase4_production_launch/ecosystem_integration.rs
  tests/phase4_production_launch/launch_infrastructure.rs
Due: check-todos, check-docs

Update documentation dates to September 6th, 2025
  Cargo.toml
  RELEASE_NOTES_v0.3.0-beta.md
  docs/00-index.md
  docs/02-api-reference/changelog.md
  docs/05-development/releases.md
  docs/09-roadmap/PATHWAY_TO_V1.md
  docs/09-roadmap/ROADMAP.md
  docs/09-roadmap/V1_ROADMAP.md
Due: check-version-consistency

Release v0.3.0-beta: Solid foundation with 219 passing tests
  crates/leptos-motion-core/src/bundle_size_optimization_tests.rs
  crates/leptos-motion-core/src/feature_flags_optimization_tests.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/tree_shaking_optimization_tests.rs
Due: check-todos, check-docs

Update version to 0.3.3 for release
  Cargo.toml
Due: check-version-consistency

Add bundle size optimization tests and update lib.rs
  crates/leptos-motion-core/src/bundle_size_optimization_tests.rs
  crates/leptos-motion-core/src/feature_flags_optimization_tests.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/tree_shaking_optimization_tests.rs
Due: check-todos, check-docs

feat: Complete Phase 4 optimization implementation
  Cargo.toml
  RELEASE_NOTES_v0.4.0.md
  crates/leptos-motion-core/Cargo.toml
  crates/leptos-motion-core/src/bundle_size_tests.rs
  crates/leptos-motion-core/src/dead_code_elimination_tests.rs
  crates/leptos-motion-core/src/dependency_optimization_phase4_tests.rs
  crates/leptos-motion-core/src/dependency_optimization_tests.rs
  crates/leptos-motion-core/src/engine.rs
  crates/leptos-motion-core/src/feature_flags_phase3_tests.rs
  crates/leptos-motion-core/src/feature_flags_tests.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/memory_optimization_tests.rs
  crates/leptos-motion-core/src/minimal_serialization.rs
  crates/leptos-motion-core/src/performance_optimization_tdd_tests.rs
  crates/leptos-motion-core/src/simplified_engine.rs
  crates/leptos-motion-core/src/simplified_engine_tests.rs
  crates/leptos-motion-core/src/tree_shaking_tests.rs
  crates/leptos-motion-core/src/wasm_optimization_tests.rs
  docs/02-api-reference/changelog.md
Due: check-version-consistency, check-todos, check-docs

docs: Complete v0.4.0 documentation update
  docs/00-index.md
  docs/01-getting-started/QUICK_START_GUIDES.md
  docs/01-getting-started/installation.md
  docs/02-api-reference/API_REFERENCE.md
  docs/03-guides/advanced_features.md
  docs/03-guides/design.md
  docs/03-guides/performance.md
  docs/05-development/contributing.md
  docs/07-architecture/BUNDLE_SIZE_OPTIMIZATION_REPORT.md
  docs/08-testing/TDD_PROCESS_GUIDE.md
  docs/09-roadmap/PRODUCTION_ROADMAP.md
  docs/09-roadmap/ROADMAP.md
  docs/11-release-notes/README.md
  docs/12-summaries/README.md
  docs/README.md
Due: none

chore: Update .gitignore for v0.4.0 and future features
  .gitignore
  bundle_test
  code_splitting_tests
  css_class_animation_tests
  dependency_audit_tests
  wasm_optimization_tests
Due: none

feat: Comprehensive roadmap update and WebGPU integration design
  docs/07-architecture/WEBGPU_INTEGRATION_DESIGN.md
  docs/09-roadmap/ROADMAP.md
  docs/09-roadmap/V1_ROADMAP_UPDATED.md
Due: none

feat: Add comprehensive WebGPU fallback strategy
  docs/07-architecture/WEBGPU_INTEGRATION_DESIGN.md
Due: none

feat: Complete Phase 1 & 2 of TDD-based leptos-motion remediation
  Cargo.toml
  crates/leptos-motion-core/src/dead_code_elimination_tests.rs
  crates/leptos-motion-core/src/dependency_optimization_phase4_tests.rs
  crates/leptos-motion-core/src/engine.rs
  crates/leptos-motion-core/src/feature_flags_phase3_tests.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/minimal_serialization.rs
  crates/leptos-motion-core/src/tree_shaking_tests.rs
  crates/leptos-motion-core/src/types.rs
  crates/leptos-motion-core/src/wasm_optimization_tests.rs
  crates/leptos-motion-dom/Cargo.toml
  crates/leptos-motion-dom/src/components.rs
  crates/leptos-motion-dom/src/engine_integrated_motion_div.rs
  crates/leptos-motion-dom/src/leptos_v08_compatibility.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-dom/src/phase1_engine_integration_tests.rs
  crates/leptos-motion-dom/src/phase2_leptos_compatibility_tests.rs
  crates/leptos-motion-dom/src/phase3_feature_completion_tests.rs
  crates/leptos-motion-dom/src/phase4_performance_polish_tests.rs
  docs/01-getting-started/installation.md
  docs/02-api-reference/API_REFERENCE.md
  docs/03-guides/design.md
  docs/07-architecture/BUNDLE_SIZE_OPTIMIZATION_REPORT.md
  tests/phase1_engine_integration/motion_div_engine_integration.rs
  tests/phase2_leptos_compatibility/trait_implementations.rs
  tests/phase3_feature_completion/gesture_layout_presence.rs
  tests/phase4_performance_polish/performance_optimization.rs
Due: check-version-consistency, check-todos, check-docs

Release v0.4.1: Fix compilation errors and method naming conflicts
  Cargo.toml
  RELEASE_NOTES_v0.4.1.md
  crates/leptos-motion-core/src/bundle_size_tests.rs
  crates/leptos-motion-core/src/feature_flags_tests.rs
  crates/leptos-motion-core/src/serde_replacement_tests.rs
  crates/leptos-motion-core/src/tree_shaking_tests.rs
  crates/leptos-motion-core/src/types.rs
  crates/leptos-motion-core/src/wasm_optimization_tests.rs
  crates/leptos-motion-dom/src/components.rs
  crates/leptos-motion-dom/src/improved_motion_div.rs
  crates/leptos-motion-dom/src/leptos_v08_compatibility.rs
Due: check-version-consistency, check-todos, check-docs

Fix remaining test files for v0.4.1
  crates/leptos-motion-core/src/bundle_size_tests.rs
  crates/leptos-motion-core/src/serde_replacement_tests.rs
  crates/leptos-motion-core/src/tree_shaking_tests.rs
  crates/leptos-motion-core/src/wasm_optimization_tests.rs
Due: check-todos, check-docs

Update workspace dependencies to include versions for publishing
  Cargo.toml
Due: check-version-consistency

Format code and fix pre-commit hook issues
  API_ISSUES_ANALYSIS.md
  COMPREHENSIVE_FIXES_ANALYSIS.md
  GETTING_STARTED_MANUAL.md
  IMMEDIATE_FIX_GUIDE.md
  LEPTOS_MOTION_USER_GUIDE.md
  LIBRARY_UPDATE_SUMMARY.md
  LLM_API_REFERENCE.json
  REACTIVITY_FIX_GUIDE.md
  REMEDIATION_ROADMAP.md
  crates/leptos-motion-dom/src/animation_reactivity_tests.rs
  crates/leptos-motion-dom/src/components.rs
  crates/leptos-motion-dom/src/components.rs.backup
  crates/leptos-motion-dom/src/drag_animation_tests.rs
  crates/leptos-motion-dom/src/drag_integration_tests.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-dom/src/momentum_animation_tests.rs
  crates/leptos-motion-dom/src/momentum_integration_tests.rs
  crates/leptos-motion-dom/src/motion_div_integration_tests.rs
  examples/comprehensive-demo/debug.html
  examples/comprehensive-demo/demo.html
  examples/comprehensive-demo/index.html
  examples/comprehensive-demo/src/lib.rs
  examples/comprehensive-demo/src/test_fix.rs
  examples/comprehensive-demo/tests/basic_animations.rs
  examples/comprehensive-demo/tests/gesture_interactions.rs
  examples/comprehensive-demo/tests/integration_tests.rs
  examples/comprehensive-demo/tests/layout_animations.rs
  examples/comprehensive-demo/tests/mod.rs
  examples/comprehensive-demo/tests/scroll_effects.rs
  tests/animation_reactivity_tests.rs
  tests/comprehensive-demo.spec.ts
  tests/motion_div_integration_tests.rs
Due: check-todos, check-docs

Release v0.6.0: Phase 2 Features Complete
  Cargo.toml
  README.md
  RELEASE_NOTES_v0.6.0.md
  crates/leptos-motion-dom/src/advanced_performance_tests.rs
  crates/leptos-motion-dom/src/cross_browser_tests.rs
  crates/leptos-motion-dom/src/drag_constraint_integration_tests.rs
  crates/leptos-motion-dom/src/drag_constraint_tests.rs
  crates/leptos-motion-dom/src/flip_animation_tests.rs
  crates/leptos-motion-dom/src/keyframe_animation_tests.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-dom/src/performance_benchmark_tests.rs
  crates/leptos-motion-dom/src/stagger_animation_tests.rs
  crates/leptos-motion/src/lib.rs
  examples/comprehensive-demo/tests/basic_animations.rs
  examples/comprehensive-demo/tests/gesture_interactions.rs
  examples/comprehensive-demo/tests/integration_tests.rs
  examples/comprehensive-demo/tests/layout_animations.rs
  examples/comprehensive-demo/tests/mod.rs
  examples/comprehensive-demo/tests/scroll_effects.rs
Due: check-version-consistency, check-todos, check-docs

Add remaining test files and improved motion div
  crates/leptos-motion-dom/src/advanced_performance_tests.rs
  crates/leptos-motion-dom/src/cross_browser_tests.rs
  crates/leptos-motion-dom/src/drag_constraint_integration_tests.rs
  crates/leptos-motion-dom/src/drag_constraint_tests.rs
  crates/leptos-motion-dom/src/flip_animation_tests.rs
  crates/leptos-motion-dom/src/improved_motion_div.rs
  crates/leptos-motion-dom/src/keyframe_animation_tests.rs
  crates/leptos-motion-dom/src/performance_benchmark_tests.rs
  crates/leptos-motion-dom/src/stagger_animation_tests.rs
Due: check-todos, check-docs

Fix import issue in DOM crate
  crates/leptos-motion-dom/src/lib.rs
Due: check-todos, check-docs

Fix syntax error in DOM crate lib.rs
  crates/leptos-motion-dom/src/lib.rs
Due: check-todos, check-docs

Add comprehensive capability showcase demo
  examples/capability-showcase/Cargo.toml
  examples/capability-showcase/QUICKSTART.md
  examples/capability-showcase/README.md
  examples/capability-showcase/index.html
  examples/capability-showcase/serve.py
  examples/capability-showcase/src/lib.rs
Due: none

🎬 Improve capability showcase demo and testing
  Cargo.toml
  examples/capability-showcase/QUICKSTART.md
  examples/capability-showcase/README.md
  examples/capability-showcase/index.html
  examples/capability-showcase/package-lock.json
  examples/capability-showcase/package.json
  examples/capability-showcase/playwright.config.ts
  examples/capability-showcase/serve.py
  examples/capability-showcase/src/lib.rs
  examples/capability-showcase/test-results/.last-run.json
  examples/capability-showcase/tests/showcase.spec.ts
Due: check-version-consistency

Path conditions:
  cargo-audit: any of: ^Cargo\.lock$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-examples-build: any of: ^examples/showcase/.*\.(rs|toml)$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-version-consistency: any of: ^(Cargo\.toml|crates/.*/Cargo\.toml)$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-todos: any of: ^crates/.*\.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-docs: any of: ^crates/.*\.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

