Repository cloud-shuttle/leptos-motion: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, check-examples-build, check-version-consistency, check-todos, check-docs

cargo-audit:
  name: Cargo audit
  entry: bash -c 'cargo audit --deny warnings'
  language: system
  pass_filenames: false

check-examples-build:
  name: Check examples build
  entry: bash -c 'cd examples/showcase && cargo check'
  language: system
  pass_filenames: false

check-version-consistency:
  name: Check version consistency
  entry: ./scripts/check-version-consistency.py
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME in production code
  entry: bash -c 'if grep -r "TODO\|FIXME" crates/ --include="*.rs" | grep -v "// TODO\|// FIXME"; then echo "Found TODO/FIXME comments in production code"; exit 1; fi'
  language: system
  pass_filenames: false

check-docs:
  name: Check public API documentation
  entry: bash -c 'cargo doc --workspace --no-deps --document-private-items 2>&1 | grep -q "missing documentation" && (echo "Missing documentation for public APIs"; exit 1) || true'
  language: system
  pass_filenames: false

feat: Implement comprehensive test coverage expansion
  Cargo.toml
  crates/leptos-motion-core/Cargo.toml
  crates/leptos-motion-core/src/fuzz_tests_1.rs
  crates/leptos-motion-core/src/fuzz_tests_2.rs
  crates/leptos-motion-core/src/fuzz_tests_3.rs
  crates/leptos-motion-core/src/fuzz_tests_4.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-core/src/performance_stress_tests.rs
  crates/leptos-motion-core/src/property_based_tests.rs
  crates/leptos-motion-dom/Cargo.toml
  crates/leptos-motion-dom/src/fuzz_tests.rs
  crates/leptos-motion-dom/src/lib.rs
  crates/leptos-motion-dom/src/visual_regression_tests.rs
Due: check-version-consistency, check-todos, check-docs

chore: Bump version to 0.8.1 and add comprehensive release notes
  Cargo.toml
  RELEASE_NOTES_v0.8.1.md
Due: check-version-consistency

chore: Prepare for publishing individual crates
  Cargo.toml
  crates/leptos-motion-backup/Cargo.toml
  crates/leptos-motion-backup/src/lib.rs
  crates/leptos-motion-dom/Cargo.toml
  crates/leptos-motion-dom/src/signal_based_animation_controller.rs
  crates/leptos-motion-gestures/Cargo.toml
  crates/leptos-motion-layout/Cargo.toml
  crates/leptos-motion-scroll/Cargo.toml
  crates/leptos-motion-studio/Cargo.toml
  crates/leptos-motion-studio/src/export.rs
  crates/leptos-motion-studio/src/lib.rs
  crates/leptos-motion-studio/src/morphing.rs
  crates/leptos-motion-studio/src/pooling.rs
  crates/leptos-motion-studio/src/preview.rs
  crates/leptos-motion-studio/src/project.rs
  crates/leptos-motion-studio/src/studio.rs
  crates/leptos-motion-studio/src/tests.rs
  crates/leptos-motion-studio/src/timeline.rs
  crates/leptos-motion-studio/src/transforms.rs
  crates/leptos-motion-studio/src/webgl.rs
  crates/leptos-motion-studio/tests/integration_tests.rs
  examples/comprehensive-demo/Cargo.toml
  examples/v0.7-showcase/Cargo.toml
  examples/v0.7-showcase/src/lib.rs
  test-results/.last-run.json
  test-results/comprehensive_e2e_test-Lep-cd828-ests-Variant-Switching-Test-chromium/error-context.md
  test-results/comprehensive_e2e_test-Lep-cd828-ests-Variant-Switching-Test-chromium/test-failed-1.png
  test-results/comprehensive_e2e_test-Lep-cd828-ests-Variant-Switching-Test-chromium/video.webm
  tests/tdd_animation_reactivity_tests.rs
Due: check-version-consistency, check-todos, check-docs

chore: Update DOM crate dependencies to use published versions
  crates/leptos-motion-dom/Cargo.toml
Due: check-version-consistency

chore: Restore main leptos-motion crate and prepare for publishing
  Cargo.toml
  crates/leptos-motion/Cargo.toml
  crates/leptos-motion/src/lib.rs
Due: check-version-consistency, check-todos, check-docs

feat: Update demo to showcase comprehensive motion features
  Cargo.toml
  examples/comprehensive-demo/src/lib.rs
Due: check-version-consistency

📦 Update version to 0.8.2 for release
  Cargo.toml
  crates/leptos-motion-dom/src/animation_3d_implementation.rs
Due: check-version-consistency, check-todos, check-docs

Update README for v0.8.3: Motion Studio, WebGL, and ADRs
  README.md
Due: none

Final v0.8.3 updates: compatibility tests and studio fixes
  COMPATIBILITY_ANALYSIS.md
  COMPATIBILITY_SUMMARY.md
  benches/performance_benchmarks/main.rs
  crates/leptos-motion-core/src/compatibility_tests.rs
  crates/leptos-motion-studio/src/morphing.rs
  crates/leptos-motion-studio/src/pooling.rs
  crates/leptos-motion-studio/src/preview.rs
  crates/leptos-motion-studio/src/studio.rs
  crates/leptos-motion-studio/src/tests.rs
  crates/leptos-motion-studio/src/timeline.rs
  crates/leptos-motion-studio/src/transforms.rs
  crates/leptos-motion-studio/src/webgl.rs
  docs/adr/002-leptos-version-support.md
  docs/adr/006-competitor-analysis.md
  examples/comprehensive-demo/src/fixed_reactive_demo.rs
  examples/comprehensive-demo/src/tdd_reactive_demo.rs
  examples/studio-demo/Cargo.toml
  examples/studio-demo/index.html
  examples/studio-demo/src/lib.rs
  examples/studio-demo/tests/studio.spec.ts
Due: check-todos, check-docs

Update workspace dependencies to use published versions for publishing
  Cargo.toml
Due: check-version-consistency

Update remaining workspace dependencies to published versions
  Cargo.toml
Due: check-version-consistency

Update final workspace dependencies to published versions
  Cargo.toml
Due: check-version-consistency

📋 Add Comprehensive Remediation Plans and Design Documents
  README.md
  docs/CURRENT_STATUS.md
  docs/DESIGN_DOCUMENT_EXPORT_SYSTEMS.md
  docs/DESIGN_DOCUMENT_WEBGL.md
  docs/PHASE_7_RELEASE_PREPARATION.md
  docs/REMEDIATION_PLAN_EXPORT_SYSTEMS.md
  docs/REMEDIATION_PLAN_WEBGL.md
Due: none

🚀 Phase 7: WebGL Week 2 + Export Week 3 COMPLETED!
  crates/leptos-motion-studio/src/export.rs
  crates/leptos-motion-webgl/src/renderer.rs
Due: check-todos, check-docs

🎉 Phase 7: WebGL Week 3 + Export Week 4 COMPLETED!
  crates/leptos-motion-studio/src/export.rs
  crates/leptos-motion-webgl/src/shader.rs
Due: check-todos, check-docs

🎉 PHASE 7 COMPLETE: WebGL Week 4 + Final Testing COMPLETED!
  crates/leptos-motion-dom/src/tests/mod.rs
  crates/leptos-motion-webgl/src/lib.rs
  crates/leptos-motion-webgl/src/particles.rs
Due: check-todos, check-docs

📋 CRITICAL CODE REVIEW & REMEDIATION PLAN
  docs/COMPREHENSIVE_REMEDIATION_PLAN.md
  docs/CRITICAL_CODE_REVIEW.md
  docs/IMMEDIATE_ACTION_PLAN.md
  docs/REALISTIC_STATUS_UPDATE.md
Due: none

🔧 Week 1 Complete: Import Resolution Fixes
  crates/leptos-motion-dom/src/animation_engine/dom_animation_engine.rs
  crates/leptos-motion-dom/src/animation_engine/mod.rs
  crates/leptos-motion-dom/src/animation_engine_test.rs
  crates/leptos-motion-dom/src/memory_safety_test.rs
  crates/leptos-motion-dom/tests/animation_engine_test.rs
  crates/leptos-motion-webgl/src/lib.rs
  crates/leptos-motion-webgl/src/renderer.rs
  crates/leptos-motion-webgl/src/scene.rs
  crates/leptos-motion-webgl/src/transforms.rs
Due: check-todos, check-docs

🔧 Week 2 Progress: Type System Fixes
  AGENTS.md
  crates/leptos-motion-dom/src/animation_engine/dom_animation_engine.rs
  crates/leptos-motion-dom/src/animation_handle.rs
  crates/leptos-motion-dom/src/lib.rs
Due: check-todos, check-docs

🎯 Week 3 Complete: Borrowing and Mutability Fixes
  crates/leptos-motion-dom/src/integrated_memory_manager.rs
  crates/leptos-motion-webgl/src/particles.rs
Due: check-todos, check-docs

🔧 Week 2 Progress: Type System Analysis
  crates/leptos-motion-dom/src/animation_engine/dom_animation_engine.rs
Due: check-todos, check-docs

📋 Comprehensive Analysis & Design Documents Complete
  docs/analysis/TYPE_SYSTEM_ISSUES_ANALYSIS.md
  docs/design/FEATURE_FLAG_DESIGN.md
  docs/design/IMPLEMENTATION_ROADMAP.md
  docs/design/SOLUTION_SUMMARY.md
  docs/design/TYPE_SYSTEM_UNIFICATION_DESIGN.md
Due: none

🎯 Phase 1 Complete: Type System Foundation Fixed
  crates/leptos-motion-core/Cargo.toml
  crates/leptos-motion-core/src/animation/presets.rs
  crates/leptos-motion-core/src/lib.rs
  crates/leptos-motion-dom/Cargo.toml
Due: check-version-consistency, check-todos, check-docs

🎯 Phase 2 Complete: DOM Crate Integration Success
  crates/leptos-motion-dom/src/animation_engine/dom_animation_engine.rs
  crates/leptos-motion-dom/src/animation_engine_test.rs
  crates/leptos-motion-dom/src/memory_safety_test.rs
  crates/leptos-motion-dom/src/optimized_animation_manager.rs
  crates/leptos-motion-dom/src/performance_optimizations.rs
  crates/leptos-motion-dom/tests/animation_engine_test.rs
Due: check-todos, check-docs

🎯 Phase 3 Complete: Comprehensive Testing & Validation
  crates/leptos-motion-dom/src/optimized_animation_manager.rs
  crates/leptos-motion-dom/src/performance_optimizations.rs
Due: check-todos, check-docs

Add comprehensive design documentation and fix WebGL compilation errors
  build_rs_cov.profraw
  crates/leptos-motion-webgl/src/renderer.rs
  crates/leptos-motion-webgl/src/shader.rs
  docs/design/animation-scheduler-design.md
  docs/design/file-breakdown-plan.md
  docs/design/gesture-system-design.md
  docs/design/keyframe-interpolation-design.md
  docs/design/macro-system-design.md
  docs/design/raf-engine-design.md
  docs/design/waapi-engine-design.md
Due: check-todos, check-docs

Fix yanked version dependency issue
  Cargo.toml
  crates/leptos-motion/Cargo.toml
Due: check-version-consistency

Path conditions:
  cargo-audit: any of: ^Cargo\.lock$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-examples-build: any of: ^examples/showcase/.*\.(rs|toml)$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-version-consistency: any of: ^(Cargo\.toml|crates/.*/Cargo\.toml)$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-todos: any of: ^crates/.*\.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

  check-docs: any of: ^crates/.*\.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  dist/.*|
  \.git/.*|
  coverage/.*|
  playwright-report/.*|
  \.next/.*|
  \.nuxt/.*|
  \.output/.*|
  \.vscode/.*|
  \.idea/.*|
  \.DS_Store|
  \.env.*|
  \.cache/.*|
  \.parcel-cache/.*|
  \.turbo/.*|
  \.vercel/.*|
  \.netlify/.*|
  \.github/.*|
  \.gitlab-ci\.yml|
  \.pre-commit-config\.yaml|
  flake\.lock|
  flake\.nix|
  rust-toolchain\.toml|
  deny\.toml|
  RELEASE_.*\.md|
  CHANGELOG\.md|
  LICENSE|
  README\.md|
  \.gitignore|
  \.gitattributes|
  \.editorconfig|
  \.prettierrc.*|
  \.eslintrc.*|
  tsconfig\.json|
  package-lock\.json|
  pnpm-lock\.yaml|
  yarn\.lock|
  Cargo\.lock
)$

